.imgProfile{
  border : 1px black ;
  box-shadow: 1px 1px 5px black;
  border-radius: 50% 50%;
  width: 200px;
  height: 200px;
  margin : 0% auto ;
}
.row1{
  border-right: solid 1px black;
  height: max-content;
}
.imgContainer{
  padding : 2%;
  width : 100% ;
  display: flex;
  justify-content: space-around;
}
.row{
  display: flex;
  flex-direction: column;
}
.details-container{
  width : 100%;
  height: 20vh;
}
.card{
  margin : 1% ;
}
.container{
  box-shadow: 1px 2px 5px green;
  padding: 3%;
  margin: 2% auto;
  display: flex;
  justify-content: space-around;
  height: max-content;
}
.Other{
  width : 90% ;
  height:90vh;
  margin : 1% 2% ;
}
.iconsContainer{
  width : 30% ;
  height: 10%;
  margin : 1% auto ;
  border: 3px solid black ;
  border-radius: 3%;
}
.icon{
  width : 20%;
  margin-top: 3%;
  margin-left:17%;
  cursor: pointer;
}
.icon:hover{
  transform: scale(1.1);
}
.notf{
  width:80%;
  margin : 4% auto ;
  height: 40vh;
  background-color: red;
}
.mssj{
  width:80%;
  margin : 4% auto ;
  height: 40vh;
  background-color: red;
}
