<div class="container">
  <h1>Nos Cours</h1>
  <p> Avec le développement d’Internet et de l’Informatique, nos modes de vie ont évolué.

    Les entreprises recrutent sans cesse de nouveaux profils expérimentés, spécialisés, avec des compétences régulièrement actualisées pour être au goût du jour. La solution idéale pour y répondre est de suivre une formation informatique.

    Pour changer de métier ou bien apporter une nouvelle compétence à votre CV, nous avons élaboré plusieurs programmes axés sur une pédagogie de qualité.

    Pour découvrir l'ensemble de nos formations professionnelles en informatique à distance, vous n’avez plus qu’à cliquer sur chacune d’elle !
    </p>
  <div class="courses-container">
  <div *ngFor="let course of courses ; let i = index " class="courseI">
   {{course}}
  </div>
</div>
</div>
