.inputs{
  padding : 4% ;
  text-align: center;
  box-shadow: green 3px 3px 5px;
  margin : 3% ;
  display: flex ;
  flex-direction: column;
}
.input-group{
  margin : 1% ;

}

.btn{
  width : 40% ;
  margin : 2% auto ;
}
