
  <div class="signUpContainer">
    <form methode="get" [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="was-validated">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" placeholder="entrer votre nom" name="nom" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
          <label for="prénom">Prénom:</label>
          <input type="text" class="form-control" id="prénom" placeholder="entrer votre Prénom" name="prénom" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
          <label for="age">age:</label>
          <input type="number" class="form-control" id="age" placeholder="entrer votre age" name="age" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
          <label for="phone">numéro de télephone :</label>
          <input type="number" class="form-control" id="phone" placeholder="entrer votre numéro de télephone " name="phone" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
          <label for="ville">ville :</label>
          <input type="text" class="form-control" id="ville" placeholder="entrer votre localisation " name="ville" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
          <label for="terrin">localisation de terrin :</label>
          <input type="text" class="form-control" id="terrin" placeholder="entrer la localisation de terrin ; son numéro " name="terrin" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
          <label for="mail">email :</label>
          <input formControlName="email" type="email" class="form-control" id="mail" placeholder="donner votre email pour resevoir mieux d'informatons " name="mail" >
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="pwd">mot de passe:</label>
        <input  type="password" formControlName="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" >
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Check this checkbox to continue.</div>
        </label>
      </div>
      <button  type="submit" class="btn btn-primary">envoyer</button>
      <button type="reset" class="btn btn-primary">reset</button>
    </form>

  </div>
