.cards_container {
  display: flex;
  justify-content: space-around;
  margin: 10%;
  width: 80%;
}
.logo-img{
  width : 90%;
  margin : 0 auto ;
}
.card{
  width : 30%;
  height: 50vh;
  padding: 3%;
  box-shadow: 1px 1px 5px green;
  transform: scale(1);
  transition: ease-in-out .5s;
}
.card:hover{
  transform: scale(1.1);
  transition: ease-in-out .5s;
}
.about{
  padding : 2% ;
  display: flex ;
  justify-content: space-around;
  align-items: center;
}
.imgF{
  margin :2% ;
  width: 40%;
  border-radius: 5%;
}
.about-us{
  box-shadow: 2px 2px 2px green;
}
.whys {
  display: flex ;
}
.why {
  width: 20%;
  padding : 3% ;
  margin :  1% auto ;
  box-shadow: 2px 2px 5px green;
}
.titlewhy{
  text-align: center;
}
.partnairs{
  box-shadow: 1px 2px 5px  green;
  display: flex ;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width : 90% ;
  margin : 1% auto ;
  padding : 1% ;
}
.part{
  width : 25%;
  margin : 1% ;
  padding : 1% ;
}
.partLogo{
  width : 50% ;
}
.part-name {
  font-weight: Bold;
  font-size: 30px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

footer{
  float: left;
  width : 100% ;
  height: 50vh;
  background-color: green;
  box-shadow: 1px 3px 6px goldenrod;
  margin: 3% auto 0;
  display: flex ;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer1{
  width: 50% ;
  height: 80%;
  padding: 3% ;
  font-family: cursive;
  font-size: 20px;
}
.footer2{
  width: 40%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3%;
}
.rights{
  font-size: x-large;
  font-weight: 600;
}
.btnSend{
  width: 30%;
}


