
.card {
  width: 100%;
  margin :1% ;
}
.btn{
  width: 20%;
  border: none;
  background-color: #F27F3F;
}
.cours-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.linkContainer{
  display: flex;
  justify-content: space-around;
}
.pdf-img{
  width: 5%;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.buttons{
  width: 50%;
  margin : 2% auto ;
  display: flex ;
  justify-content: space-around;
}
