<div class="container">
    <div class="buttons">
      <button (click)="inv=true" class="btn btn-primary">Consultants</button>
      <button (click)="inv=false" class="btn btn-primary">Investisseurs</button>
    </div>
    <div *ngIf="inv" class="row">
    <div *ngFor="let item of items" class="card">
      <div class="card-body">
        <img  [src]="item.src" class="img-fluid imgServ" >
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.desc}}</p>
        <button class="btn btn-component" (click)="seeMore()">Voir plus ...</button>
      </div>
    </div>
  </div>
  <div *ngIf="!inv" class="row">

      <div *ngFor="let item of invest" class="card">
        <div class="card-body">
          <img  [src]="item.src" class="img-fluid imgServ" >
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.desc}}</p>
          <button class="btn btn-component" (click)="seeMore()">Voir plus ...</button>
        </div>
      </div>
    </div>
</div>
