
.log
{
  border: 2px solid blanchedalmond ;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px black;
  width : 60%;
  height: 400px;
  padding : 5%;
  margin : 20% auto ;
  text-align: center;

}
.input-group{
  margin: 2%;
}
