<div class="Container">
  <div class="row">
    <form methode="get" (submit)="signInUser(email,mdp)" class="log">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">email </span>
      </div>
      <input #email type="text" class="form-control" placeholder="exemple: x@y.com">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Mot De Passe</span>
      </div>
      <input #mdp type="password" class="form-control" placeholder="mot de passe">
    </div>
    <button type="submit" class="btn btn-primary">connexion</button><br>
    <a href="#" style="color: blue;">mot de passe oublier</a>
    </form>
   </div>
</div>

