<div class="container">
  <div class="row">
    <form class="log">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Nom </span>
      </div>
      <input type="text" class="form-control" placeholder="exemple: hedi">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Mot De Passe</span>
      </div>
      <input type="text" class="form-control" placeholder="mot de passe">
    </div>
    <button type="submit" class="btn btn-primary">connexion</button><br>
    <a href="#" style="color: blue;">mot de passe oublier</a>
    </form>
   </div>
</div>
