<nav class="navbar navbar-expand-lg navbar-light  ">
  <a><img class="logoSmart" src="https://www.freepnglogos.com/uploads/farmers-insurance-png-logo/green-farm-insurance-png-logo-27.png"></a>

  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="active" class="nav-item">
        <a class="nav-link"
         [routerLink]="['/']"
           >Acceuil</a>
      </li>
      <li *ngIf="!isAuth" [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="active" class="nav-item">
        <a class="nav-link"
         [routerLink]="['/signup']"
           >signup</a>
      </li>
      <li *ngIf="!isAuth" [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="active" class="nav-item">
        <a class="nav-link"
         [routerLink]="['/login']"
           >signin</a>
      </li>

      <li *ngIf="isAuth"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/declarations']" tabindex="-1" aria-disabled="true">Contact</a>
      </li>
      <li *ngIf="isAuth" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link " [routerLink]="['/service']" tabindex="-1" aria-disabled="true">cours</a>
      </li>
      <li *ngIf="isAuth" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link " [routerLink]="['/profil']" tabindex="-1" aria-disabled="true">Profil</a>
      </li>
      <li class="liB" *ngIf="isAuth">
        <button (click)="onSignOut()" class="btn btn-success">Deconnecter</button>
      </li>

    </ul>
  </div>
</nav>
