
.navbar{
  box-shadow: 1px 1px 3px #6589C5;
}
.logoSmart{
  width : 5%;
}
.liB {
  width : 20%;
  font-size: 5px;
}
.btn{
  font-size: x-small;
  height: 80%;
  padding: 2%;
  margin : auto auto ;
  background-color: #F27F3F;
  border: none;
}
